<article class="animate__animated animate__animated animate__fadeIn">
  <h1>Test applicatie voor DevOps</h1>
  <div>
    <div class="content-left">
      <img src="../../../assets/img/st-logo.jpg" class="responsive" />
    </div>
    <div>
      <p>
        Deze applicatie oplossing is voornamelijk bedoeld om Dela Azure te kunnen testen op
        de System team Azure OTAP-straat en dan voornamelijk de deployment
        pipelines. Het nieuwe Dela System team zal zich voornamelijk bezighouden
        met DevOps werkzaamheden.
      </p>
      <p>
        Hierbij is het automatiseren van het automatiseren een hoog over doel.
        Deze applicatie is specifiek bedoelt om de verschillende typen pipelines
        in Azure DevOps te kunnen testen en ontwikkelingen te kunnen maken,
        waarin verschillende zaken samen komen.
      </p>
      <p>
        Deze applicatie biedt CRUD operaties en kan ook direct benaderd worden
        via REST API calls. Ook wordt gewerkt aan o.a.: automatische
        deployments, automatische testen, quality gates en observability.
      </p>
    </div>
  </div>
</article>
